<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Intro to Haml | Tony Gaeta</title>
		<link href='lib/images/favicon.ico' rel='shortcut icon' type='image/x-icon'>

		<meta name="description" content="Intro to Haml Meetup held at The Iron Yard in DTSP on 18 Nov 2015">
		<meta name="author" content="Tony Gaeta">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/railscasts.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Intro to Haml</h1>
					<h3>Beautiful and Clean Markup Sans Inline Code</h3>
					<p>
						<small>Presented by <a href="http://www.tonygaeta.com">Tony Gaeta</a> / <a href="http://twitter.com/tgaeta">@tgaeta</a></small>
					</p>
				</section>

				<section>
					<h2>What is Haml?</h2>
					<p>
						Haml (HTML abstraction markup language) is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code.
					</p>
				</section>

				<section>
					<h2>Simply Put</h2>
					<pre><code class="hlerb" data-trim contenteditable>
<div id='content'>
  <div class='left column'>
    <h2>Welcome to our site!</h2>
    <p><%= print_information %></p>
  </div>
  <div class="right column">
    <%= render :partial => "sidebar" %>
  </div>
</div>
					</code></pre>
					<p>It allows you to go from this...</p>

				</section>

				<section>
					<h2>...To This!</h2>
					<pre><code class="hlhaml" data-trim>
#content
  .left.column
    %h2 Welcome to our site!
    %p= print_information
  .right.column
    = render :partial => "sidebar"
					</code></pre>
					<p>Clean, beautiful, and DRY (Don't Repeat Yourself)</p>
			</section>

				<section>
					<h2>Core Principles</h2>
					<p>Haml’s development as a language is based on adherence to several core principles. These are:</p>
					<ul>
						<li>Markup Should be Beautiful</li>
						<li>Markup Should be DRY</li>
						<li>Markup Should be Well-Indented</li>
						<li>HTML Structure Should be Clear</li>
					</ul>
				</section>

				<section>
					<h2>The Basics</h2>
					<p>In Haml, we write a tag by using the percent sign and then the name of the tag. This works for any tag you want:
						<pre><code>%strong, %div, %body, %html
					</code></pre></p>

					<p>The equal-sign tells Haml to evaluate Ruby code to the right and then print out the return value as the contents of the tag. Unlike the ERB, Haml will automatically detect newlines in the return value and format the tag properly.</p>
					<pre><code>
%strong= item.title
				</code></pre></p>
				</section>

				<section>
					<h2>Basics Cont.</h2>
					<p>Haml relies on indenting for formating. You indent using two spaces. Add an additional two spaces for every nested level of tags.</p>
					<pre><code class="hlhaml" data-trim>
#content
  .left.column
    %h2 Welcome to our site!
    %p= print_information
  .right.column
    = render :partial => "sidebar"
					</code></pre>
					<p>We have to do this because HTML is a nested data structure. The indentation of the file is translated into HTML's opening and closing tags.</p>
				</section>

				<section>
					<h2>Pros</h2>
					<p>Aside from the known fact that Haml is DRY and consise, here are a few other reasons Haml is awesome:</p>
					<ul>
						<li>Easy to learn</li>
						<li>Easier to focus on what matters</li>
						<li>Easier to read and write</li>
						<li>No need to worry about closing tags</li>
						<li>Write your markup quickly</li>
					</ul>
				</section>

				<section>
					<h2>Cons</h2>
					<p>Believe it or not, you can write ugly looking code in Haml:</p>
					<pre><code class="hlhaml" data-trim>
					%p
  Please,
  %strong
    For the love of
    = succeed "," do
      %a(href="http://www.god.com/") God
  don't use
  %a(href="http://haml-lang.com") Haml
  for marking-up your content!
					</code></pre>
					<p>Obviously much prettier using Markdown:</p>
					<pre><code class="hlmd" data-trim>
Please, **For the love of [God](http://www.god.com/),**
don't use [Haml](http://haml-lang.com) for marking-up your content!
					</code></pre>
				</section>

				<section>
					<h2>Exercise</h2>


				</section>

				<section>
					<h2>Resources</h2>
					<ul>
						<li><a href="http://haml.info/">Haml.info | The homepage for Haml containing tutorials, it's history, and of course, documentation</a></li>
						<li><a href="http://html2haml.herokuapp.com/">Html2Haml Converter</a></li>
						<li><a href="https://github.com/haml/haml">Haml Repo</a></li>
						<li><a href="https://github.com/tgaeta/intro-to-haml">The repo containing this slide and the exercise</a></li>
					</ul>
				</section>

				<section>
					<h1>The End</h1>
						<p>Thanks for joining me today! If you have any questions regarding Haml or The Iron Yard, just ask.</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
